<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
		<add key="acovisa-aux" value="https://pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
    <acovisa-aux>
      <add key="Username" value="alefe.ferreira" />
      <add key="ClearTextPassword" value="reguegloje6ubelpj6kdqvllmi6ypic3jyjwbdkmbik66fv223ta" />
    </acovisa-aux>
  </packageSourceCredentials>
</configuration>